<section class="block container">
  <header class="block block__header">
    <h2>host on the lcoud</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum, error!</p>
  </header>

  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="/images/sprite.svg#easy"></use>
        </svg>
      </span>

      <h3 class="feature__heading">super easy to use</h3>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci sequi
        recusandae abipsum dolor sit amet consectetur adipisicing elit. Adipisci
        sequi recusandae abipsum dolor sit amet consectetur adipisicing elit.
        Adipisci sequi recusandae abipsum dolor sit amet consectetur adipisicing
        elit. Adipisci sequi recusandae ab sit fugiat reprehenderit praesentium
        delectus tempore commodi doloribus.
      </p>

      <a href="" class="link-arrow">learn more</a>
    </div>

    <picture>
      <img
        class="feature__image"
        sizes="(max-width: 1283px) 100vw, 1283px"
        srcset="
          /images/easy_yf6v6m_c_scale,w_190.jpg   190w,
          /images/easy_yf6v6m_c_scale,w_441.jpg   441w,
          /images/easy_yf6v6m_c_scale,w_697.jpg   697w,
          /images/easy_yf6v6m_c_scale,w_754.jpg   754w,
          /images/easy_yf6v6m_c_scale,w_1187.jpg 1187w,
          /images/easy_yf6v6m_c_scale,w_1283.jpg 1283w
        "
        src="/images/easy_yf6v6m_c_scale,w_1283.jpg"
        alt=""
      />
    </picture>
  </article>

  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="/images/sprite.svg#easy"></use>
        </svg>
      </span>

      <h3 class="feature__heading">super easy to use</h3>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci sequi
        recusandae abipsum dolor sit amet consectetur adipisicing elit. Adipisci
        sequi recusandae abipsum dolor sit amet consectetur adipisicing elit.
        Adipisci sequi recusandae abipsum dolor sit amet consectetur adipisicing
        elit. Adipisci sequi recusandae ab sit fugiat reprehenderit praesentium
        delectus tempore commodi doloribus.
      </p>

      <a href="" class="link-arrow">learn more</a>
    </div>

    <picture>
      <img
        class="feature__image"
        sizes="(max-width: 1283px) 100vw, 1283px"
        srcset="
          /images/easy_yf6v6m_c_scale,w_190.jpg   190w,
          /images/easy_yf6v6m_c_scale,w_441.jpg   441w,
          /images/easy_yf6v6m_c_scale,w_697.jpg   697w,
          /images/easy_yf6v6m_c_scale,w_754.jpg   754w,
          /images/easy_yf6v6m_c_scale,w_1187.jpg 1187w,
          /images/easy_yf6v6m_c_scale,w_1283.jpg 1283w
        "
        src="/images/easy_yf6v6m_c_scale,w_1283.jpg"
        alt=""
      />
    </picture>
  </article>

  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="/images/sprite.svg#easy"></use>
        </svg>
      </span>

      <h3 class="feature__heading">super easy to use</h3>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci sequi
        recusandae abipsum dolor sit amet consectetur adipisicing elit. Adipisci
        sequi recusandae abipsum dolor sit amet consectetur adipisicing elit.
        Adipisci sequi recusandae abipsum dolor sit amet consectetur adipisicing
        elit. Adipisci sequi recusandae ab sit fugiat reprehenderit praesentium
        delectus tempore commodi doloribus.
      </p>

      <a href="" class="link-arrow">learn more</a>
    </div>

    <picture>
      <img
        class="feature__image"
        sizes="(max-width: 1283px) 100vw, 1283px"
        srcset="
          /images/easy_yf6v6m_c_scale,w_190.jpg   190w,
          /images/easy_yf6v6m_c_scale,w_441.jpg   441w,
          /images/easy_yf6v6m_c_scale,w_697.jpg   697w,
          /images/easy_yf6v6m_c_scale,w_754.jpg   754w,
          /images/easy_yf6v6m_c_scale,w_1187.jpg 1187w,
          /images/easy_yf6v6m_c_scale,w_1283.jpg 1283w
        "
        src="/images/easy_yf6v6m_c_scale,w_1283.jpg"
        alt=""
      />
    </picture>
  </article>
</section>
