<section class="block block--dark block--skewed-left hero">
  <div class="container grid grid--1x2">
    <header class="block__header hero__content">
      <h1 class="block__heading">could hosting for pros</h1>
      <p class="hero__tagline">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis,
        labore.
      </p>
      <a href="" class="btn btn--accent btn--streched">start now</a>
    </header>

    <img
      sizes="(max-width: 570px) 100vw, 570px"
      srcset="
        /images/heroImages/banner_copy_zyodr4_c_scale,w_200.webp 200w,
        /images/heroImages/banner_copy_zyodr4_c_scale,w_570.webp 570w
      "
      src="/images/heroImages/banner_copy_zyodr4_c_scale,w_570.webp"
      alt=""
    />
  </div>
</section>
